body {
  margin: 0;
  padding: 0;
  background-color: #d7d2ff;
  font-family: "Archivo Black", sans-serif;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

#map-container {
  height: 500px;
  width: 100%;
  z-index: 1;
}